<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações Pessoais</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <div id="caixacentral">
        <h2 class="titulo">Olá, <span id="nome"></span>!</h2>
        <div class="infos">
        <div class="texto">Seu email: <span id="email"></span></div>
        <div class="texto">Sua senha: <span id="senha"></span></div>
        </div>
        <div class="texto">
        <span>Tem outra conta? <a href="{{ url_for('homepage') }}">Logue agora.</a></span>
        </div>
    </div>

    
    
</body>
</html>