<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <div id="caixacentral">
        <h2 class="titulo">Informações de Login Inválidas.</h2>
        <div class="texto">
        <span>Tem outra conta? <a href="{{ url_for('homepage') }}">Logue agora.</a></span>
        <span>Não é cadastrado? <a href="{{ url_for('cadastro') }}">Se cadastre agora.</a></span>
        
        </div>
    </div>

    
    
</body>
</html>